<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="about">
    <header>
    <!-- Barra de navegación -->
    <ul class="navbar">
        <li><a href="/contact">|Contact|</a></li>
        <li><a href="/music">|Music</a></li>
        <li><a href="/about">|About</a></li>
        <li><a href="/">|Home</a></li>
    <!-- Botones a redes sociales y media -->
    </ul>
    <ul class="socialmedia">
      <li><a href="https://twitter.com/" target="_blank"><img src="images/twitter-icon.png" alt="twitter"></a></li>
      <li><a href="https://facebook.com/" target="_blank"><img src="images/facebook-icon.png" alt="facebook"></a></li>
      <li><a href="https://spotify.com/" target="_blank"><img src="images/spotify-icon.png" alt="spotify"></a></li>
      <li><a href="https://apple.com/" target="_blank"><img src="images/apple-icon.png" alt="apple"></a></li>
      <li><a href="https://amazon.com/" target="_blank"><img src="images/amazon-icon.png" alt="amazon"></a></li>
      <li><a href="https://instagram.com/" target="_blank"><img src="images/instagram-icon.png" alt="instagram"></a></li>
    </ul>
    </header>
    <!-- Comentarios sobre la artista -->
    <p id="about">About<br>Emilia //</p>
    <p>"Seattle-based pop star makes her<br> indie debut with a hauntingly beautiful album"</p>
    <small>- John Tirckle, Music Today Post</small>
    <p>"Emilia Cole is one of the<br> scene's breakout stars"</p>
    <small>- John Tirckle, Music Today Post</small>
</body>
</html>