<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <!-- Barra de navegación -->
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <!-- Iconos vinculados a redes sociales y media -->
    <ul class="socialmedia">
      <li><a href="https://twitter.com/" target="_blank"><img src="images/twitter-icon.png" alt="twitter"></a></li>
      <li><a href="https://facebook.com/" target="_blank"><img src="images/facebook-icon.png" alt="facebook"></a></li>
      <li><a href="https://spotify.com/" target="_blank"><img src="images/spotify-icon.png" alt="spotify"></a></li>
      <li><a href="https://apple.com/" target="_blank"><img src="images/apple-icon.png" alt="apple"></a></li>
      <li><a href="https://amazon.com/" target="_blank"><img src="images/amazon-icon.png" alt="amazon"></a></li>
      <li><a href="https://instagram.com/" target="_blank"><img src="images/instagram-icon.png" alt="instagram"></a></li>
    </ul>
    <!-- Nombre y texto del título -->
    <p class="emilia">Emilia<br>
    Cole //</p>
    <h1>Twist in my reality</h1>

</body>
</html>